@use "variables";
@use "../mixins/spacing" as *;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
}

p {
    @include spacing($top: 0, $bottom: variables.$s-4, $asPadding: false);
}
