<% layout("_structure/page.eta.html", {
    title: book.name,
}) %>
<% ~includeFile("_partials/breadcrumb.eta.html", {
    h,
    breadcrumb: [
        {title: h.t("books"), url: "/book"},
        {title: book.name}
    ],
}) %>

<h1>Book</h1>
<h2>Cake</h2>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent justo.</p>

<img class="img-thumbnail" src="https://via.placeholder.com/400" alt="">

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% for (const recipe of book.recipes) { %>
        <div class="col">
            <div class="card">
                <img src="https://picsum.photos/400" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= recipe.name %></h5>
                    <p class="card-text"><%= recipe.description %></p>
                    <a href="/book/<%= book.id %>/recipe/<%= recipe.id %>" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<% ~includeFile("_partials/pagination.eta.html", {h, pagination: book.recipes}) %>
