@use "_bootstrap";

.dark {
    .rating {
        --color-star-hover: #{bootstrap.$gray-700};
        --color-filled-star: #{bootstrap.$gray-600};
        --color-empty-star: #{bootstrap.$gray-500};
    }

    body {
        background: bootstrap.$dark;
        color: #fff;
    }

    .dropdown-menu {
        background: bootstrap.$dark;
        border-color: bootstrap.$secondary;
    }

    .dropdown-divider {
        border-top-color: #fff;
    }

    .text-muted, .form-text {
        color: #9b9b9b;
    }

    .form-control {
        border-color: bootstrap.$gray-800;
        background: transparent;

        &, &::placeholder {
            color: #fff;
        }
    }

    header {
        border-bottom-color: rgba(255, 255, 255, 0.1);

        .btn {
            color: #fff;
            border-color: rgba(255, 255, 255, 0.1);

            &:hover {
                color: bootstrap.$dark;
                background: #fff;
            }

            &.dropdown-toggle {
                &.show {
                    color: bootstrap.$dark;
                    background: #fff;
                }
            }
        }
    }

    a,
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1,
    p,
    .breadcrumb-item.active {
        color: #fff;
    }

    .bg-dark {
        background: #fff;
        color: #000;
    }

    .form-select {
        background: bootstrap.$dark;
        color: #fff;
        border-color: bootstrap.$secondary;
    }

    .page-item {
        &.active {
            .page-link {
                background: bootstrap.$secondary;
                border-color: transparent;
            }
        }

        &.disabled {
            .page-link {
                background: transparent;
            }
        }

        .page-link {
            background: transparent;
            border-color: bootstrap.$secondary;
        }

        &:not(.active):not(.disabled) {
            .page-link {
                &:hover {
                    color: bootstrap.$secondary;
                }
            }
        }
    }

    .card {
        background: transparent;
        border-color: bootstrap.$secondary;

        .card-header {
            border-color: bootstrap.$secondary;
        }

        .card-footer {
            border-color: bootstrap.$secondary;
        }
    }

    .list-group-item, .accordion-item,
    .accordion-button {
        color: #fff;
        background: transparent;
        border-color: bootstrap.$secondary;
    }

    .list-group-item {
        &.active {
            background: bootstrap.$secondary;
        }

        &-action {
            &:hover {
                background: bootstrap.$secondary;
                color: bootstrap.$gray-300;
            }
        }
    }

    .accordion-button::after {
        filter: brightness(1) sepia(0) hue-rotate(180deg) saturate(5);
    }
}
