@use "_bootstrap";

$text-color: bootstrap.$gray-400;

.dark {
    .rating {
        --color-star-hover: #{bootstrap.$gray-700};
        --color-filled-star: #{bootstrap.$gray-600};
        --color-empty-star: #{bootstrap.$gray-500};
    }

    body {
        background: bootstrap.$dark;
        color: $text-color;
    }

    .dropdown-menu {
        background: bootstrap.$dark;
        border-color: bootstrap.$secondary;
    }

    .dropdown-divider {
        border-top-color: #fff;
    }

    .dropdown-item:not(.active) {
        &:hover, &:focus {
            background: bootstrap.$secondary;
            color: bootstrap.$gray-300;
        }
    }

    .text-muted, .form-text {
        color: $text-color;
    }

    header {
        border-bottom-color: rgba(255, 255, 255, 0.1);
        background: bootstrap.$gray-800;

        .btn {
            color: $text-color;
            border-color: rgba(255, 255, 255, 0.1);

            &:hover {
                color: bootstrap.$dark;
                background: #fff;
            }

            &.dropdown-toggle {
                &.show {
                    color: bootstrap.$dark;
                    background: #fff;
                }
            }
        }
    }

    .btn-light {
        border: bootstrap.$gray-100;
        background: bootstrap.$black;
    }

    .btn:not(.btn-info):not(.btn-danger),
    .badge {
        color: bootstrap.$gray-400;
    }

    .btn-info, &.btn-danger {
        color: bootstrap.$black;
    }

    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1,
    a, p,
    .breadcrumb-item.active {
        color: $text-color;
    }

    .bg-dark {
        background: bootstrap.$gray-500;
        color: bootstrap.$gray-900;
    }

    .form-control,
    .form-select {
        background: bootstrap.$gray-800;
        border-color: bootstrap.$secondary;

        &, &::placeholder {
            color: $text-color;
        }
    }

    .page-item {
        &.active {
            .page-link {
                background: bootstrap.$secondary;
                border-color: transparent;
            }
        }

        &.disabled {
            .page-link {
                background: transparent;
            }
        }

        .page-link {
            background: transparent;
            border-color: bootstrap.$secondary;
        }

        &:not(.active):not(.disabled) {
            .page-link {
                &:hover {
                    color: bootstrap.$secondary;
                }
            }
        }
    }

    .card {
        background: transparent;
        border-color: bootstrap.$secondary;

        .card-header {
            border-color: bootstrap.$secondary;
        }

        .card-footer {
            border-color: bootstrap.$secondary;
        }
    }

    .list-group-item, .accordion-item,
    .accordion-button, .input-group-text {
        color: $text-color;
        background: transparent;
        border-color: bootstrap.$secondary;
    }

    .list-group-item {
        &.active {
            background: bootstrap.$secondary;
        }

        &-action {
            &:hover {
                background: bootstrap.$secondary;
                color: bootstrap.$gray-300;
            }
        }
    }

    .accordion-button::after {
        filter: brightness(1) sepia(0) hue-rotate(180deg) saturate(5);
    }

    .alert-danger {
        background: bootstrap.$red-700;
    }

    .alert-primary {
        background: bootstrap.$blue-700;
    }

    .alert-secondary {
        background: bootstrap.$gray-700;
    }

    .alert-success {
        background: bootstrap.$green-700;
    }

    .alert-info {
        background: bootstrap.$cyan-700;
    }

    .alert-warning {
        background: bootstrap.$yellow-700;
    }

    .alert {
        color: $text-color;

        .alert-heading {
            color: inherit;
        }
    }

    .img-thumbnail {
        border-color: bootstrap.$secondary;
        background: none;
    }
}
