@use "_bootstrap";
@use "_variables";

a.badge {
    text-decoration: none;

    &.bg-dark {
        transition: variables.$transition-duration;

        &:hover {
            background-color: bootstrap.$danger;
            color: bootstrap.$white;
        }
    }
}
