@use "_bootstrap";

a.badge {
    text-decoration: none;

    &.bg-dark {
        transition: bootstrap.$transition-base;

        &:hover {
            background-color: bootstrap.$danger;
            color: bootstrap.$white;
        }
    }
}
