@use "_bootstrap";

.navbar {
    background: bootstrap.$dark;

    .container-xxl {
        align-items: stretch;
    }

    .navbar-brand {
        align-self: end;

        .bi {
            width: 24px;
            height: 24px;
        }

        .app-name {
            transition: bootstrap.$transition-base;
            color: inherit;
            margin-top: -3px;
        }

        &:hover {
            .app-name {
                color: bootstrap.$info;
            }
        }
    }

    #language-dropdown {
        svg {
            width: 24px;
        }
    }
}
