@use "_bootstrap";

.navbar {
    background: bootstrap.$dark;

    .container-xxl {
        align-items: stretch;
    }

    .navbar-brand {
        align-self: end;

        .bi {
            width: 24px;
            height: 24px;
        }

        .app-name {
            transition: bootstrap.$transition-base;
            color: inherit;
            margin-top: -3px;
        }

        &:hover {
            .app-name {
                color: bootstrap.$info;
            }
        }
    }

    #dark-mode-switcher {
        @include bootstrap.media-breakpoint-down('md') {
            color: rgba(255, 255, 255, 0.55);
            border-color: rgba(255, 255, 255, 0.1);

            &:hover {
                color: rgba(255, 255, 255, 0.55);
                background: transparent;
            }
        }
    }

    #language-dropdown {
        svg {
            width: 24px;
        }
    }
}
