@import "mixins/spacing";
@import "variables";

html {
    display: block;
    overflow-y: scroll;
}

.container {
    @include spacing($horizontal: $s-3);
    max-width: $container-max-width;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

main {
    margin: 0 auto;

    @include spacing($top: $s-4, $bottom: $s-5);
}

body {
    background: var(--page-bg);
    color: var(--text-primary);
}
