@import "mixins/spacing";
@import "variables";

.breadcrumb {
    display: flex;

    li {
        display: flex;

        &:not(:last-child) {
            &:after {
                @include spacing($horizontal: $s-1);
                content: "/";
                color: var(--text-primary);
            }
        }

        &.active {
            color: var(--text-primary);
        }
    }
}
