@use "_bootstrap";

.recipe {
    position: relative;

    .dropdown {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 999;

        @include bootstrap.media-breakpoint-up('lg') {
            opacity: 0;
            transition: bootstrap.$transition-base;
        }
    }

    &:hover {
        .dropdown {
            opacity: 1;
        }
    }

    .flagged {
        border-color: bootstrap.$info;
    }
}

#tag-filter {
    .card-body {
        padding-right: .75rem;
        max-height: 300px;

        @include bootstrap.media-breakpoint-down('md') {
            max-height: 600px;
        }
    }

    .active {
        background: bootstrap.$primary;

        &:hover {
            color: #fff;
        }
    }
}
