@use "../base/variables";

.badge {
    display: inline-block;
    padding: .35em .65em; // TODO use spacing mixin
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: var(--badge);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: var(--badge-bg);

    @at-root a#{&} {
        text-decoration: none;
        transition: variables.$transition-base;

        &:hover {
            background-color: var(--badge-link-hover-bg);
            color: var(--badge-link-hover);
        }
    }
}
