@use "../base/variables";
@use "../mixins/spacing" as *;

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: var(--card-bg);
    color: var(--card-text);
    background-clip: border-box;
    border: 1px solid var(--card-border);

    @at-root a#{&} {
        text-decoration: none;
        color: inherit;
        transition: variables.$transition-base;

        &:not(.disabled) {
            &:hover {
                border-color: var(--card-linked-hover-border);
                color: var(--card-linked-hover);
            }
        }
    }

    &.padded {
        @include spacing($horizontal: variables.$s-2, $vertical: variables.$s-2);
    }

    &.active {
        color: #000;
        --card-bg: #e5e5e5;
    }

    &.disabled {
        pointer-events: none;
        opacity: .65;
    }
}

.card-set {
    .card + .card {
        border-top: 0;
    }
}

.card-header {
    @include spacing($horizontal: variables.$s-4, $vertical: variables.$s-2);

    margin-bottom: 0;
    background-color: var(--card-header-bg);
    border-bottom: 1px solid var(--card-header-border);
}

.card-body {
    @include spacing($horizontal: variables.$s-4, $vertical: variables.$s-4);

    flex: 1 1 auto;
}

.card-footer {
    color: var(--card-footer);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: rgba(0, 0, 0, .03);
    border-top: 1px solid var(--card-border);

    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    li {
        &:not(:last-child) {
            @include spacing($right: variables.$s-2, $asPadding: false);
        }
    }
}

.card-title {
    @include spacing($bottom: variables.$s-2, $asPadding: false);
}
