.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

table {
    caption-side: bottom;
    border-collapse: collapse;

    &.fw {
        width: 100%;
    }
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
