@mixin spacing($top: null, $right: null, $bottom: null, $left: null, $vertical: null, $horizontal: null, $asPadding: true) {
    $prop: if($asPadding, 'padding', 'margin');

    $top: if($top, $top, $vertical);
    $bottom: if($bottom, $bottom, $vertical);

    $right: if($right, $right, $horizontal);
    $left: if($left, $left, $horizontal);

    #{$prop}-top: $top;
    #{$prop}-right: $right;
    #{$prop}-bottom: $bottom;
    #{$prop}-left: $left;
}
