<% layout("_structure/page.eta.html", {
    title: h.t("recipes")
}) %>
<div class="d-flex justify-content-between mb-2">
    <% ~includeFile("_partials/breadcrumb.eta.html", {
        h,
        breadcrumb: [
            {title: h.t("recipes"), url: h.u.recipeList()}
        ],
        noMargin: true
    }) %>
    <a class="btn btn-success" href="<%= h.u.recipeImport() %>" role="button">
        <% ~h.i("cloud-arrow-down-fill") %>
        <%= h.t("recipe.import.title") %>
    </a>
</div>

<!-- TODO select2 or similar -->
<!-- TODO hide tags that aren't matching and are unselected, maybe even show total count in brackets? -->
<% if (tags.length) { %>
    <div class="d-flex flex-wrap">
        <% tags.forEach((tag, i) => { %>
            <% const hasTag = tagIds.includes(tag.id);
                const url = new URL(requestUrl);
                if (hasTag) {
                    // TODO move to util method to delete single value
                    const all = url.searchParams.getAll("tagId");
                    url.searchParams.delete("tagId");
                    all.filter((v) => v !== String(tag.id)).forEach((val) => url.searchParams.append("tagId", val));
                } else {
                    url.searchParams.append("tagId", tag.id);
                }
            %>
            <a href="<%= url.toString() %>" class="badge badge-linked bg-secondary mb-3<%= i === tags.length - 1 ? "" : " me-1" %>">
                <div class="d-flex align-items-center">
                    <% if (hasTag) { %>
                        <span class="me-1">
                            <% ~h.i("x-circle-fill") %>
                        </span>
                    <% } %>
                    <%= tag.title %>
                </div>
            </a>
        <% }) %>

        <!-- TODO clear all button -->
    </div>
<% } %>

<!-- TODO show placeholder image if no thumbnail is present -->
<% if (recipes.totalItems) { %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% for (const recipe of recipes.items) { %>
            <div class="col">
                <a class="card card-linked h-100" href="<%= h.u.recipe(recipe) %>">
                    <img src="<%= h.u.thumbnail(recipe.thumbnail) %>" class="card-img-top" alt="" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title"><%= recipe.title %></h5>
                        <p class="card-text"><%= recipe.description %></p>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
<% } else { %>
    <div class="alert alert-info">
        <strong><%= h.t("info") %></strong>: <%= h.t("recipe.no_recipes_found") %>
    </div>
<% } %>
<% ~includeFile("_partials/pagination.eta.html", {h, pagination: recipes}) %>
