<% layout("_structure/page.eta.html", {
    title: h.t("index.title") // TODO
}) %>
<% ~includeFile("_partials/breadcrumb.eta.html", {
    h,
    breadcrumb: [
        {title: h.t("books"), url: "/book"},
        {title: recipe.book.name, url: `/book/${recipe.book.id}`},
        {title: recipe.name}
    ]
}) %>

<h1>Recipe</h1>
<h2><%= recipe.name %></h2>
<p><%= recipe.description %></p>

<img class="img-thumbnail" src="https://via.placeholder.com/400" alt="">

<ul class="list-group mt-3">
    <li class="list-group-item d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-3">200g</span>
        A list item
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-3">10</span>
        A second list item
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-3">1&frac12;</span>
        A third list item
    </li>
</ul>
