<% layout("_structure/page.eta.html", {
    title: recipe.title
}) %>
<% ~includeFile("_partials/breadcrumb.eta.html", {
    h,
    breadcrumb: [
        {title: h.t("recipes"), url: h.u.recipeList()},
        {title: recipe.title, url: h.u.recipe(recipe)}
    ]
}) %>

<h1><%= recipe.title %></h1>
<p><%= recipe.description %></p>

<% if (recipe.tags.length) { %>
    <div class="d-flex flex-wrap">
        <% recipe.tags.forEach((tag, i) => { %>
            <a href="" class="badge bg-secondary mb-3<%= i === recipe.tags.length - 1 ? "" : " me-1" %>">
                <%= tag.title %>
            </a>
        <% }) %>
    </div>
<% } %>

<% recipe.history.forEach((date) => { %>
    <div><%= h.f(date) %></div>
<% }) %>

<!-- TODO show metadata like last cooked, etc.? -->
<!-- TODO link source -->
<!-- TODO only show domain -->
<h5>
    Source <!-- TODO translate -->
    <a class="text-muted" href="<%= recipe.source %>"><%= new URL(recipe.source).hostname %></a>
</h5>

<img class="img-thumbnail" src="<%= h.u.thumbnail(recipe.thumbnail) %>" alt="">

<div class="card mt-3">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between">
            <h2 class="h5 mb-0">
                <%= h.t("recipe.ingredients.title") %>
            </h2>
            <form class="d-flex" method="get">
                <div class="input-group input-group-sm w-auto">
                    <!-- TODO pre-fill and support calculation -->
                    <input type="number" class="form-control portions" name="portions" value="<%= portions %>" min="1" max="99">
                    <div class="input-group-text">
                        <%= h.t("recipe.portions") %>
                    </div>
                </div>
                <button type="submit" class="ms-1 btn btn-secondary btn-sm d-flex align-items-center">
                    <% ~h.i("arrow-counterclockwise") %>
                </button>
            </form>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <% h.ingredients(recipe.ingredients, recipe.yield, portions).forEach((ingredient) => { %>
            <li class="list-group-item">
                <div class="d-flex align-items-center">
                    <div class="text-center ingredient-amount">
                        <% if (ingredient.amount) { %>
                            <span class="badge bg-dark">
                                <%= ingredient.amount %>
                            </span>
                        <% } %>
                    </div>
                    <div>
                        <%= ingredient.description %>
                    </div>
                </div>
            </li>
        <% }) %>
    </ul>
</div>

<h3 class="mt-3">Instructions</h3>

<div class="accordion">
    <% recipe.instructions.forEach((instruction, i) => { %>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-instruction-<%= i %>">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ingredient-<%= i %>"
                        aria-expanded="true" aria-controls="collapse-ingredient-<%= i %>">
                    <%= h.t("recipe.ingredients.step", {step: i + 1}) %>
                </button>
            </h2>
            <div id="collapse-ingredient-<%= i %>" class="accordion-collapse collapse show" aria-labelledby="heading-instruction-<%= i %>">
                <div class="accordion-body">
                    <%= instruction %>
                </div>
            </div>
        </div>
    <% }) %>
</div>
