<% layout('page.eta.html', {title: h.t('index.title')}) %>

<h1>Recipe</h1>
<h2>Cake</h2>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent justo.</p>

<img class="img-thumbnail" src="https://via.placeholder.com/400" alt="">

<ul class="list-group mt-3">
    <li class="list-group-item d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-3">200g</span>
        A list item
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-3">10</span>
        A second list item
    </li>
    <li class="list-group-item d-flex align-items-center">
        <span class="badge bg-primary rounded-pill me-3">1&frac12;</span>
        A third list item
    </li>
</ul>
