<% layout("_structure/page.eta.html", {
    title: h.t("index.title"),
    breadcrumbs: [{"title": h.t("recipes")}],
}) %>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <% for (const recipe of recipes.items) { %>
        <div class="col">
            <div class="card">
                <img src="https://picsum.photos/400" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title"><%= recipe.title %></h5>
                    <p class="card-text"><%= recipe.description %></p>
                    <a href="/" class="btn btn-primary stretched-link">Go somewhere</a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<% ~includeFile("_partials/pagination.eta.html", {h, pagination: recipes}) %>
