<% layout("_structure/page.eta.html", {
    title: h.t("recipes")
}) %>
<div class="d-flex justify-content-between mb-2">
    <% ~includeFile("_partials/breadcrumb.eta.html", {
        h,
        breadcrumb: [
            {title: h.t("recipes"), url: h.u.recipeList()}
        ],
        noMargin: true
    }) %>
    <a class="btn btn-success" href="<%= h.u.recipeImport() %>" role="button">
        <span class="me-2">
            <% ~h.i("cloud-arrow-down-fill") %>
        </span><%= h.t("recipe.import.title") %>
    </a>
</div>

<% if (tags.length) { %>
    <div class="d-flex flex-wrap">
        <% tags.forEach((tag, i) => { %>
            <a href="<%= h.u.removeParameterValue(currentUrl, "tagId", tag.id) %>" class="badge badge-linked bg-secondary mb-3<%= i === tags.length - 1 ? "" : " me-1" %>">
                <div class="d-flex align-items-center h-100">
                    <span class="me-1">
                        <% ~h.i("x-circle-fill") %>
                    </span>
                    <%= tag.title %>
                </div>
            </a>
        <% }) %>

        <% if (tags.length > 1) { %>
            <a href="<%= h.u.removeParameter(currentUrl, "tagId") %>" class="badge badge-linked bg-danger ms-2 mb-3">
                <div class="d-flex align-items-center h-100">
                    <span class="me-1">
                        <% ~h.i("x-circle-fill") %>
                    </span>
                    <%= h.t("recipe.clear_all_tags") %>
                </div>
            </a>
        <% } %>
    </div>
<% } %>

<!-- TODO show placeholder image if no thumbnail is present -->
<% if (recipes.totalItems) { %>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <% for (const recipe of recipes.items) { %>
            <div class="col">
                <a class="card card-linked h-100" href="<%= h.u.recipe(recipe) %>">
                    <img src="<%= h.u.thumbnail(recipe.thumbnail) %>" class="card-img-top" alt="" loading="lazy">
                    <div class="card-body">
                        <h5 class="card-title"><%= recipe.title %></h5>
                        <p class="card-text"><%= recipe.description %></p>
                    </div>
                </a>
            </div>
        <% } %>
    </div>
<% } else { %>
    <div class="alert alert-info">
        <strong><%= h.t("info") %></strong>: <%= h.t("recipe.no_recipes_found") %>
    </div>
<% } %>
<% ~includeFile("_partials/pagination.eta.html", {h, pagination: recipes}) %>
