<% var tags = tags || undefined; %>
<% var recipes = recipes || undefined; %>
<% layout("_structure/page.eta.html", {
    title: h.t("recipes")
}) %>
<div class="d-flex justify-content-between mb-2">
    <% ~includeFile("_partials/breadcrumb.eta.html", {
        h,
        breadcrumb: [
            {title: h.t("recipes"), url: h.u.recipeList()}
        ],
        noMargin: true
    }) %>
    <form method="GET" id="orderBy">
        <div class="input-group input-group-sm">
            <select class="form-select" title="<%= h.t("recipe.order_by") %>" autocomplete="off" name="orderBy">
                <% const orderBy = h.u.parameter(currentUrl, "orderBy", "title"); %>
                <% const options = [["id"], ["created_at"], ["updated_at"], ["title"], ["last_cooked_at", "recipe.last_cooked_at"],
                    ["cooked_count", "recipe.cooked_count"], ["aggregate_rating_value", "recipe.aggregate_rating_value"], ["rating", "recipe.rating"],
                    ["prep_time", "recipe.prep_time"], ["cook_time", "recipe.cook_time"], ["total_time", "recipe.total_time"]]; %>
                <% for (const option of options) { %>
                    <% const [optionValue, optionLabel] = option %>
                    <option value="<%= optionValue %>"<%= orderBy === optionValue ? " selected" : "" %>>
                        <%= h.t(optionLabel || optionValue) %>
                    </option>
                <% } %>
            </select>
            <% const order = h.u.parameter(currentUrl, "order", "ASC")?.toUpperCase(); %>
            <button class="btn btn-outline-secondary" type="submit" name="order" value="<%= order === "ASC" ? "DESC" : "ASC" %>">
                <% if (order === "ASC") { %>
                    <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-down"}) %>
                <% } else { %>
                    <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-up"}) %>
                <% } %>
            </button>
            <% for (const [name, value] of currentUrl.searchParams.entries()) { %>
                <% if (!["orderBy", "order", "flash"].includes(name)) { %>
                    <input type="hidden" name="<%= name %>" value="<%= value %>">
                <% } %>
            <% } %>
        </div>
    </form>
</div>

<% if (tags.length) { %>
    <div class="d-flex flex-wrap">
        <% tags.forEach((tag, i) => { %>
            <a title="<%= tag.description %>" href="<%= h.u.removeParameterValue(currentUrl, "tagId", tag.id) %>"
               class="badge badge-linked bg-secondary mb-3<%= i === tags.length - 1 ? "" : " me-1" %>">
                <div class="d-flex align-items-center h-100">
                    <span class="me-1">
                        <% ~includeFile("_partials/icon.eta.html", {h, name: "x-circle-fill"}) %>
                    </span>
                    <%= tag.title %>
                </div>
            </a>
        <% }) %>

        <% if (tags.length > 1) { %>
            <a href="<%= h.u.removeParameter(currentUrl, "tagId") %>" class="badge badge-linked bg-danger ms-2 mb-3">
                <div class="d-flex align-items-center h-100">
                    <span class="me-1">
                        <% ~includeFile("_partials/icon.eta.html", {h, name: "x-circle-fill"}) %>
                    </span>
                    <%= h.t("recipe.clear_all_tags") %>
                </div>
            </a>
        <% } %>
    </div>
<% } %>

<% if (currentUrl.searchParams.get("flash") === "deleteSuccessful") { %>
    <div class="alert alert-success" role="alert">
        <strong class="alert-heading"><%= h.t("info") %></strong> <%= h.t("recipe.delete_successful") %>
    </div>
<% } %>

<% if (recipes.totalItems) { %>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <% for (const recipe of recipes.items) { %>
            <div class="col">
                <div class="recipe h-100">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown">
                            <% ~includeFile("_partials/icon.eta.html", {h, name: "three-dots"}) %>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a class="dropdown-item text-primary" href="<%= h.u.recipeEdit(recipe) %>">
                                    <span class="me-1">
                                        <% ~includeFile("_partials/icon.eta.html", {h, name: "pencil"}) %>
                                    </span><%= h.t("edit") %>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item text-danger" href="<%= h.u.recipeDelete(recipe) %>">
                                    <span class="me-1">
                                        <% ~includeFile("_partials/icon.eta.html", {h, name: "trash"}) %>
                                    </span><%= h.t("delete") %>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="card card-linked h-100" href="<%= h.u.recipe(recipe) %>">
                        <img src="<%= h.u.thumbnail(recipe.thumbnail) %>" class="card-img-top" alt="" loading="lazy">
                        <div class="card-body">
                            <h5 class="card-title"><%= recipe.title %></h5>
                            <p class="card-text"><%= recipe.description %></p>
                            <p class="card-text">
                                <small class="text-muted">
                                    <% if (recipe.lastCookedAt) { %>
                                        <%= h.t("recipe.last_cooked", {distance: h.date.formatDistanceToNow(recipe.lastCookedAt)}) %>
                                    <% } else { %>
                                        <%= h.t("recipe.not_cooked_yet") %>
                                    <% } %>
                                </small>
                            </p>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between">
                            <div>
                                <span title="<%= h.t("recipe.cooked_count") %>" class="me-2">
                                    <span class="me-1">
                                        <% ~includeFile("_partials/icon.eta.html", {h, name: "bar-chart"}) %>
                                    </span><%= recipe.cookedCount %>
                                </span>
                                <span title="<%= h.t("recipe.rating") %>" class="me-2">
                                    <span class="me-1">
                                        <% ~includeFile("_partials/icon.eta.html", {h, name: "star"}) %>
                                    </span><%= h.number.format(recipe.rating) %>
                                </span>
                                <span title="<%= h.t("recipe.aggregate_rating") %>">
                                    <span class="me-1">
                                        <% ~includeFile("_partials/icon.eta.html", {h, name: "people"}) %>
                                    </span><%= h.number.format(recipe.aggregateRatingValue) %>
                                </span>
                            </div>

                            <span class="d-flex align-items-center" title="<%= h.t("recipe.time.total") %>">
                                <span class="me-1">
                                    <% ~includeFile("_partials/icon.eta.html", {h, name: "clock-fill"}) %>
                                </span>
                                <% ~h.date.formatSeconds(recipe.totalTime) %>
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <div class="alert alert-info">
        <strong><%= h.t("info") %></strong>: <%= h.t("recipe.no_recipes_found") %>
    </div>
<% } %>
<% ~includeFile("_partials/pagination.eta.html", {h, pagination: recipes}) %>


<a class="btn btn-primary me-2" href="<%= h.u.recipeCreate() %>" role="button">
    <span class="me-2">
        <% ~includeFile("_partials/icon.eta.html", {h, name: "plus-square"}) %>
    </span><%= h.t("create") %>
</a>

<a class="btn btn-success" href="<%= h.u.recipeImport() %>" role="button">
    <span class="me-2">
        <% ~includeFile("_partials/icon.eta.html", {h, name: "cloud-arrow-down-fill"}) %>
    </span><%= h.t("recipe.import.title") %>
</a>
