<% layout("_structure/page.eta.html", {
    title: recipe.title
}) %>
<% ~includeFile("_partials/breadcrumb.eta.html", {
    h,
    breadcrumb: [
        {title: h.t("recipes"), url: h.u.recipeList()},
        {title: recipe.title, url: h.u.recipe(recipe)}
    ]
}) %>

<h1><%= recipe.title %></h1>

<% if (recipe.tags.length) { %>
    <div class="d-flex flex-wrap">
        <% recipe.tags.forEach((tag, i) => { %>
            <a href="" class="badge bg-dark mb-3<%= i === recipe.tags.length - 1 ? "" : " me-1" %>">
                <%= tag.title %>
            </a>
        <% }) %>
    </div>
<% } %>

<div class="d-flex flex-wrap">
    <% if (recipe.nutritionCalories) { %>
        <span class="badge bg-dark mb-3 me-1">
            <span class="d-flex align-items-center">
                <span class="me-1">
                    <% ~h.i("battery-half") %>
                </span><%= recipe.nutritionCalories %>
            </span>
        </span>
        <% /* TODO print other nutritional info */ %>
    <% } %>

    <% if (recipe.prepTime) { %>
        <span class="badge bg-dark mb-3 me-1">
            <span class="d-flex align-items-center">
                <span class="me-1">
                    <% ~h.i("layout-wtf") %>
                </span>
                <span class="me-1">
                    <%= h.t("recipe.time.prep") %>
                </span><%= h.formatSeconds(recipe.prepTime) %>
            </span>
        </span>
    <% } %>

    <% if (recipe.cookTime) { %>
        <span class="badge bg-dark mb-3 me-1">
            <span class="d-flex align-items-center">
                <span class="me-1">
                    <% ~h.i("alarm") %>
                </span>
                <span class="me-1">
                    <%= h.t("recipe.time.cook") %>
                </span><%= h.formatSeconds(recipe.cookTime) %>
            </span>
        </span>
    <% } %>

    <% if (recipe.prepTime && recipe.cookTime) { %>
        <span class="badge bg-dark mb-3 me-1">
            <span class="d-flex align-items-center">
                <span class="me-1">
                    <% ~h.i("clock-fill") %>
                </span>
                <span class="me-1">
                    <%= h.t("recipe.time.total") %>
                </span>
                <% ~h.formatSeconds(recipe.prepTime + recipe.cookTime) %>
            </span>
        </span>
    <% } %>

    <a href="<%= recipe.source %>" target="_blank" class="badge bg-dark mb-3 me-1">
        <div class="d-flex align-items-center">
            <span class="me-1">
                <% ~h.i("link-45deg") %>
            </span>
            <%= new URL(recipe.source).hostname %>
        </div>
    </a>
</div>

<% if (recipe.description) { %>
    <p class="lead"><%= recipe.description %></p>
<% } %>
<% recipe.history.forEach((date) => { %>
    <div><%= h.format(date) %></div>
<% }) %>

<!-- TODO show metadata like last cooked, etc.? -->
<!-- TODO show rating -->

<% if (recipe.thumbnail) { %>
    <div>
        <img class="img-thumbnail" src="<%= h.u.thumbnail(recipe.thumbnail) %>" alt="" loading="lazy">
    </div>
<% } %>

<% if (recipe.ingredients.length) { %>
    <div class="card mt-3">
        <a class="anchor" id="ingredients"></a>
        <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="h5 mb-0">
                    <%= h.t("recipe.ingredients.title") %>
                </h2>
                <form class="d-flex" method="get" id="ingredients-form" action="#ingredients">
                    <div class="input-group input-group-sm w-auto">
                        <input type="number" class="form-control portions" name="portions" value="<%= portions %>" min="1" max="99"
                               title="<%= h.t("recipe.portions") %>">
                        <div class="input-group-text">
                            <%= h.t("recipe.portions") %>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary d-flex align-items-center plus" type="button">
                            <% ~h.i("plus") %>
                        </button>
                        <button class="btn btn-sm btn-outline-secondary d-flex align-items-center minus" type="button">
                            <% ~h.i("dash") %>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <% h.ingredients(recipe.ingredients, recipe.yield, portions).forEach((ingredient) => { %>
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <div class="text-center ingredient-amount">
                            <% if (ingredient.amount) { %>
                                <span class="badge bg-dark">
                                <%= ingredient.amount %>
                            </span>
                            <% } %>
                        </div>
                        <div>
                            <%= ingredient.description %>
                        </div>
                    </div>
                </li>
            <% }) %>
        </ul>
    </div>
<% } %>

<% if (recipe.instructions.length) { %>
    <h3 class="mt-3">
        <%= h.t("recipe.instructions") %>
    </h3>
    <div class="accordion">
        <% recipe.instructions.forEach((instruction, i) => { %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-instruction-<%= i %>">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-ingredient-<%= i %>"
                            aria-expanded="true" aria-controls="collapse-ingredient-<%= i %>">
                        <%= h.t("recipe.ingredients.step", {step: i + 1}) %>
                    </button>
                </h2>
                <div id="collapse-ingredient-<%= i %>" class="accordion-collapse collapse show" aria-labelledby="heading-instruction-<%= i %>">
                    <div class="accordion-body">
                        <%= instruction %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<% } %>

<% if (recipe.reviews.length) { %>
    <h3 class="mt-3"><%= h.t("recipe.reviews") %></h3>
    <% recipe.reviews.forEach((review, i) => { %>
        <figure class="<%= i === recipe.reviews.length - 1 ? "mb-0" : "" %>">
            <blockquote class="blockquote">
                <p><%= review.text %></p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
                <%= h.format(review.date) %>
            </figcaption>
        </figure>
    <% }) %>
<% } %>
