<% layout("_structure/page.eta.html", {
    title: recipe.title
}) %>
<% ~includeFile("_partials/breadcrumb.eta.html", {
    h,
    breadcrumb: [
        {title: h.t("recipes"), url: h.u.recipeList()},
        {title: recipe.title, url: h.u.recipe(recipe)},
        {title: h.t("edit"), url: h.u.recipeEdit(recipe)}
    ]
}) %>

<form method="POST">
    <div class="mb-3">
        <label for="title" class="form-label">
            <%= h.t("title") %>
        </label>
        <input class="form-control" id="title" name="title" required value="<%= recipe.title %>">
    </div>
    <a class="btn btn-danger" href="<%= h.u.recipe(recipe) %>">
        <span class="me-2">
            <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-left"}) %>
        </span><%= h.t("cancel") %>
    </a>
    <button type="submit" class="btn btn-primary">
        <span class="me-2">
            <% ~includeFile("_partials/icon.eta.html", {h, name: "check-square-fill"}) %>
        </span><%= h.t("save") %>
    </button>
</form>
