<% var recipe = recipe || undefined; %>
<% layout("_structure/page.eta.html", {
    title: recipe.title
}) %>
<% ~includeFile("_partials/breadcrumb.eta.html", {
    h,
    breadcrumb: [
        {title: h.t("recipes"), url: h.u.recipeList()},
        {title: recipe.title, url: h.u.recipe(recipe)},
        {title: h.t("delete"), url: h.u.recipeDelete(recipe)}
    ]
}) %>

<form method="POST">
    <h1><%= h.t("confirmation") %></h1>
    <p><%= h.t("recipe.delete_confirmation") %></p>

    <a class="btn btn-primary me-2" href="<%= h.u.recipe(recipe) %>">
        <span class="me-2">
            <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-left"}) %>
        </span><%= h.t("no") %>
    </a>
    <button type="submit" class="btn btn-danger">
        <span class="me-2">
            <% ~includeFile("_partials/icon.eta.html", {h, name: "trash"}) %>
        </span><%= h.t("yes") %>
    </button>
</form>
