<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <div class="d-flex align-items-center">
                <div class="text-danger me-2">
                    <% ~h.i("journal-richtext") %>
                </div>
                <div class="app-name">
                    <%= h.t("appName") %>
                </div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav"
                aria-expanded="false" aria-label="Toggle navigation"><!-- TODO translate -->
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-nav">
            <!--  mb-2 mb-md-0 -->
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <!-- TODO implement check if user is on home -->
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
            </ul>
            <form class="d-flex" method="get" action="<%= h.u.recipeList() %>">
                <div class="input-group">
                    <input class="form-control" type="search" name="title" placeholder="<%= h.t("search") %>" aria-label="<%= h.t("search") %>">
                    <%~ includeFile("_structure/navbar.tag_filter.eta.html", {h, currentUrl, appState}) %>
                    <button class="btn btn-outline-success" type="submit">
                        <% ~h.i("search") %>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>
