<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-xxl">
        <a class="navbar-brand" href="/">
            <div class="d-flex align-items-center">
                <div class="text-info me-2 d-flex">
                    <% ~includeFile("_partials/icon.eta.html", {h, name: "journal-richtext"}) %>
                </div>
                <div class="app-name">
                    <%= h.t("appName") %>
                </div>
            </div>
        </a>

        <div class="d-flex">
            <button id="dark-mode-switcher" type="button" class="btn btn-sm btn-outline-light h-100">
                <span class="active d-none">
                    <% ~includeFile("_partials/icon.eta.html", {h, name: "moon-fill"}) %>
                </span>
                <span class="inactive">
                    <% ~includeFile("_partials/icon.eta.html", {h, name: "moon"}) %>
                </span>
            </button>
        </div>
    </div>
</nav>
