<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<% ~includeFile("_structure/favicons.eta.html", {h, appState, currentUrl}) %>

<title><%= typeof title !== "undefined" ? title : h.t("appName") %></title>
<% const stylesheet = h.ifExists("index.min.css", "index.css") %>
<link rel="stylesheet" href="/assets/dist/<%= `${stylesheet}?${h.modificationTimestamp(stylesheet)}` %>">
<% const javascript = h.ifExists("index.min.js", "index.js") %>
<script src="/assets/dist/<%= `${javascript}?${h.modificationTimestamp(javascript)}` %>" async type="module"></script>

<% ~includeFile("_structure/navbar.eta.html", {h, appState, currentUrl}) %>

<main class="container-xxl">
    <% ~body %>
</main>
</html>
