<% if (pagination.hasPages) { %>
    <nav>
        <ul class="pagination justify-content-center mt-3">
            <% if (pagination.isFirstPage) { %>
                <li class="page-item disabled">
                    <span class="page-link">
                        <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-left-short"}) %>
                    </span>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a class="page-link" href="<%= pagination.previousPage?.url %>" rel="prev" title="<%= h.t("pagination.previous") %>">
                        <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-left-short"}) %>
                    </a>
                </li>
            <% } %>

            <% pagination.pages.forEach(page => { %>
                <% if (page.number === pagination.currentPage) { %>
                    <li class="page-item active">
                        <span class="page-link"><%= page.number %></span>
                    </li>
                <% } else { %>
                    <li class="page-item">
                        <a class="page-link" href="<%= page.url %>"><%= page.number %></a>
                    </li>
                <% } %>
            <% }) %>

            <% if (pagination.isLastPage) { %>
                <li class="page-item disabled">
                    <span class="page-link">
                        <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-right-short"}) %>
                    </span>
                </li>
            <% } else { %>
                <li class="page-item">
                    <a class="page-link" href="<%= pagination.nextPage?.url %>" rel="next" title="<%= h.t("pagination.next") %>">
                        <% ~includeFile("_partials/icon.eta.html", {h, name: "arrow-right-short"}) %>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
<% } %>
