<% const id = "rating" + Math.random().toString(36).substring(7) %>
<% const comparisonValue = Math.round(value * 2) / 2 %>
<% var readonly = typeof readonly === "boolean" && readonly; %>

<fieldset class="rating<%= readonly ? " disabled" : "" %>">
    <% for (let i = 10; i >= 1; i--) { %>
        <% const half = i % 2 !== 0 %>
        <% const current = i / 2; %>
        <input type="radio" id="<%= id %>-<%= i %>" name="<%= id %>" value="<%= current %>" autocomplete="off"
                <% ~current === comparisonValue ? " checked" : "" %>
                <% ~readonly ? " disabled" : "" %>
        />
        <label for="<%= id %>-<%= i %>" title="<%= readonly ? "" : current %>"
                <% ~half ? " class=\"half\"" : "" %>
        >
            <% ~includeFile("_partials/icon.eta.html", {h, name: `star-${half ? "half" : "fill"}`}) %>
        </label>
    <% } %>
</fieldset>
