@use "../mixins/breakpoints";
@use "../mixins/z-index" as *;
@use "../base/variables";

.recipe {
    position: relative;

    .card {
        height: 100%;
    }

    img {
        height: 200px;
        object-fit: cover;
    }

    .collapsible {
        @include z-index(dropdown);

        position: absolute;
        right: 10px;
        top: 10px;

        @include breakpoints.media-breakpoint-up('lg') {
            opacity: 0;
            transition: variables.$transition-base;
        }

        a {
            align-items: center;
        }
    }

    &:hover {
        .collapsible {
            opacity: 1;
        }
    }

    &.flagged {
        .card {
            border-width: 2px;
            border-color: var(--flagged-recipe-border);
        }
    }
}

#recipe-list {
    --gap: #{variables.$s-3};
}

#recipe-filter {
    --gap: #{variables.$s-3};
}

#tag-filter {
    .card-body {
        max-height: 300px;
        overflow: auto;
    }

    .tag {
        overflow: hidden;
        white-space: nowrap;
    }

    .grid {
        --gap: #{variables.$s-3};
    }
}

.recipe-count {
    display: flex;
    align-items: center;
    height: 100%;
}
