.bi {
    width: 16px;
    height: 16px;

    &::before {
        display: inline-block;
        line-height: 1;
        vertical-align: -.125em;
    }
}

.w-32 {
    width: 32px;
    height: 32px;
}
