@use "_bootstrap";

.card-linked {
    text-decoration: none;
    color: inherit;
    transition: bootstrap.$transition-base;

    &:not(.disabled) {
        &:hover {
            border-color: bootstrap.$primary;
        }
    }

    .disabled {
        pointer-events: none;
        cursor: default;
    }
}
